---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro"; 
import CoachCard from "../components/CoachCard.astro";
---

<Layout>
    <section id="hero">
        <div class="hero-gradient"></div>
        <img src="/public/img/hero_image.jpg" alt="" class="hero-image">
        <div class="hero-text">
            <h1 class="slogan">Become the best version of yourself</h1>
            <p class="slogan-text">Whatever is your goal, we are here to help you fulfil it.</p>
            <Button text="Start Today" href="#"></Button>
        </div>
    </section>
    <section id="our-facilities">
        <div class="our-facilities__text">
            <h2 class="our-facilities__title">Our Facilities</h2>
            <h3 class="our-facilities__subtitle">Perfect for everyone</h3>
        </div>
        <div class="our-facilities__video">
            <video src="/videos/facilities.mp4" poster="/img/facilities_preview.PNG" controls></video>
        </div>
    </section>
    <section id="our-coaches">
        <div class="our-coaches__text">
            <h2 class="our-coaches__title">Our Coaches</h2>
            <h3 class="our-coaches__subtitle">Ready to help you</h3>
        </div>
        <div class="our-coaches__main">
            <CoachCard name="Helen" image="/img/coach1.jpg"/>
            <CoachCard name="John" image="/img/coach2.jpg"/>
            <CoachCard name="Martha" image="/img/coach3.jpg"/>
        </div>
    </section>
</Layout>

<style>
    /* Hero Section */
        #hero {
            margin-top: 0;
            width: 100%;
            height: calc(100dvh - 111px);
            display: grid;
            place-content: center;
        }

        .hero-image {
            position: absolute;
            width: 100dvw;
            height: 100dvh;
            object-fit: cover;
            top: 0;
            right: 0;
            z-index: -100;
            opacity: 85%;
        }

        .hero-gradient {
            position: absolute;
            width: 100dvw;
            height: 100dvh;
            top: 0;
            right: 0;
            z-index: -50;
            background: linear-gradient(rgba(0,0,0,0) 34%, var(--background-color));
        }

        .hero-text {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            margin-top: auto;
            text-align: center;
        }

        .slogan {
            max-width: 15ch;
        }

        .slogan-text {
            margin-block: .5rem 2rem;
            max-width: 31ch;
        }

        @media (max-width: 1440px) {
            .hero-image,
            .hero-gradient {
                height: 868px;
            }

            #hero {
                height: calc(867px - 111px);
            }
        }

        @media (max-width: 564px) {
            .hero-image,
            .hero-gradient  {
                height: 680px;
            }

            #hero {
                height: calc(680px - 111px);
            }
        }

        @media (max-width: 430px) {
            .hero-image,
            .hero-gradient  {
                height: 560px;
            }

            #hero {
                height: calc(560px - 111px);
            }
        }
    /* Our Facilities Section */
        #our-facilities {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .our-facilities__text {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .our-facilities__title {
            text-transform: uppercase;
        }

        .our-facilities__video {
            border-radius: 2rem;
            overflow: hidden;
            opacity: 80%
        }

        .our-facilities__video > video{
            width: 40.25rem;
            height: 22.688rem;
        }

        @media (max-width: 1320px) {
            #our-facilities {
                flex-direction: column;
                gap: 5.5rem;
            }

            .our-facilities__text {
                align-items: center;
            }
        }

        @media (max-width: 695px) {
            .our-facilities__video {
                width: 31.125rem;
                height: 17.563rem;
            }
        }

        @media (max-width: 564px) {
            .our-facilities__video {
                width: 27.438rem;
                height: 15.438rem;
            }
        }

        @media (max-width: 430px) {
            .our-facilities__video {
                width: 21.688rem;
                height: 12.188rem;
            }
        }
    
    /* Our Coaches Section */
        #our-coaches  {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5.5rem;
        }

        .our-coaches__text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .our-coaches__title {
            text-transform: uppercase;
        }

        .our-coaches__main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            row-gap: 3rem;
            column-gap: 8.188rem;
        }
</style>