---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro"; 
---

<Layout>
    <section id="hero">
        <div class="hero-gradient"></div>
        <img src="/public/img/hero_image.jpg" alt="" class="hero-image">
        <div class="hero-text">
            <h1 class="slogan">Become the best version of yourself</h1>
            <p class="slogan-text">Whatever is your goal, we are here to help you fulfil it.</p>
            <Button text="Start Today" href="#"></Button>
        </div>
    </section>
</Layout>

<style>
    /* Hero Section */
        #hero {
            margin-top: 0;
            width: 100%;
            height: calc(100dvh - 111px);
            display: grid;
            place-content: center;
        }
        .hero-image {
            position: absolute;
            width: 100dvw;
            height: 100dvh;
            object-fit: cover;
            top: 0;
            right: 0;
            z-index: -100;
            opacity: 85%;
        }

        .hero-gradient {
            position: absolute;
            width: 100dvw;
            height: 100dvh;
            top: 0;
            right: 0;
            z-index: -50;
            background: linear-gradient(rgba(0,0,0,0) 34%, var(--background-color));
        }

        .hero-text {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            margin-top: auto;
            text-align: center;
        }

        .slogan {
            max-width: 15ch;
        }

        .slogan-text {
            margin-block: .5rem 2rem;
            max-width: 31ch;
        }

        @media (max-width: 1440px) {
            .hero-image,
            .hero-gradient {
                height: 868px;
            }

            #hero {
                height: calc(867px - 111px);
            }
        }

        @media (max-width: 564px) {
            .hero-image,
            .hero-gradient  {
                height: 680px;
            }

            #hero {
                height: calc(680px - 111px);
            }
        }

        @media (max-width: 430px) {
            .hero-image,
            .hero-gradient  {
                height: 560px;
            }

            #hero {
                height: calc(560px - 111px);
            }
        }
</style>