---
---
<div class="gymnasium__logo">
    <a href="./">
        <img src="/icons/logo.svg" alt="Gymnasium logo" class="logo__image">
        <h4 class="logo__text">Fitness Gym</h4>
    </a>
</div>

<style>
    .gymnasium__logo > a {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .logo__image {
        height: 3rem;
    }
</style>