---
---
<li class="ham-btn--open">
    <img src="/icons/hamburger-menu-open.svg" alt="Open hamburger menu">
</li>

<style>
    .ham-btn--open {
        display: none;
    }
    
    @media (max-width: 1320px) {
        .ham-btn--open {
            cursor: pointer;
            display: inline;
            width: 2.625rem;
            height: 3rem;
        }
    }
</style>