---
import Button from "./Button.astro";
import GymLogo from "./GymLogo.astro";
---
<nav class="navbar">
    <GymLogo />
    <ul class="navbar__buttons">
        <li class="navbar__btn"><a href="#">Our Facilities</a></li>
        <li class="navbar__btn"><a href="#">Our Coaches</a></li>
        <li class="navbar__btn"><a href="#">Our Memberships</a></li>
        <li class="navbar__btn"><a href="#">Newsletter</a></li>
        <li><Button text="Join our program" href="#"/></li>
        <!-- Hamburger menu button -->
            <li class="ham-btn--open">
                <img src="/icons/hamburger-menu-open.svg" alt="Open hamburger menu">
            </li>
        <!--  -->
    </ul>
    </div>
    <!-- Hamburger menu -->
        <div class="ham-menu off-screen"> <!-- Fix position -->
            <div class="ham-menu__header"> 
                <GymLogo /> 
                <img src="/icons/hamburger-menu-close.svg" alt="Close hamburger menu" class="ham-btn--close">
            </div>
            <ul class="ham-menu__buttons">
                <li class="ham-menu__btn"><a href="#">Our facilities</a></li>
                <li class="ham-menu__btn"><a href="#">Our coaches</a></li>
                <li class="ham-menu__btn"><a href="#">Our memberships</a></li>
                <li class="ham-menu__btn"><a href="#">Newsletter</a></li>
                <li><Button text="Join our program" class="darker" href="#"/></li>
            </ul>
            <p class="copyright">© Tekyo Copyright. All rights reserved.</p>
        </div> 
    <!--  -->

</nav>

<style>
    .navbar {
        max-width: 1440px;
        padding-inline: 4rem;
        margin-top: 1.5rem;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__buttons {
        display: flex;
        align-items: center;
        gap: 2.75rem;
    }

    .ham-btn--open {
        display: none;
    }

    .ham-menu {
        display: none;
    }

    @media (max-width: 834px) {
        .navbar {
            padding-inline: 2rem;
        }
    }

    @media (max-width: 430px) {
        .navbar {
            padding-inline: 1rem;
        }
    } 

    /* Hamburger menu */
    @media (max-width: 1320px) {
        .navbar__btn {
            display: none;
        }

        .ham-btn--open {
            cursor: pointer;
            display: inline;
            width: 2.625rem;
            height: 3rem;
        }

        
        .ham-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
            width: 28.25rem;
            height: 100dvh;
            padding-block: 3.75rem;
            background: var(--card-bg-color);
            transition: .6s ease-in-out;
            text-wrap: nowrap;
        }
        
        .off-screen {
            transform: translateX(100%);
            overflow: hidden;
            width: 0;
        }

        .ham-menu__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-inline: 4rem;
        }

        .ham-btn--close {
            cursor: pointer;
            height: 48px;
        }

        .ham-menu__buttons {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            margin-inline: 4rem;
        }

        .ham-menu__btn > a {
            font-size: 2rem;
        }

        .ham-menu__buttons :global(.btn) {
            margin-top: 2.5rem;
        }

        .copyright {
            font-weight: 400;
            font-size: 1rem;
            margin-top: auto;
            margin-inline: 4rem;
        }
    }

    @media (max-width: 695px) {
        .navbar__buttons :global(.btn) {
            display: none;
        }
    }

    @media (max-width: 564px) {
        .ham-menu {
            width: 100dvw;
        }

        .off-screen {
            transform: translateX(100%);
            overflow: hidden;
            width: 0;
        }
    } 
</style>
<script>
    // Hamburger menu open and close
    const hamOpen = document.querySelector(".ham-btn--open");
    const hamClose = document.querySelector(".ham-btn--close");
    const hamMenu = document.querySelector(".ham-menu");
    const hamButtons = document.querySelectorAll(".ham-menu__btn");
    const navMenu = document.querySelector(".navbar__buttons");

    hamOpen.addEventListener("click", () => {
        hamMenu.classList.remove("off-screen");
        
        setTimeout(function() {
            navMenu.classList.add("hide");
        }, 600);
        
        hamButtons.forEach(button => {
            button.addEventListener("click", () => {
                hamMenu.classList.add("off-screen");
                navMenu.classList.remove("hide");
            })
        })
    });
    hamClose.addEventListener("click", () => {
        hamMenu.classList.add("off-screen");
        navMenu.classList.remove("hide");
    });
</script>