---
import Button from "./Button.astro";
import GymLogo from "./GymLogo.astro";
import HamMenuButton from "./HamMenuButton.astro";
---
<nav class="navbar">
    <GymLogo />
    <ul class="navbar__buttons">
        <li class="navbar__btn"><a href="#">Our Facilities</a></li>
        <li class="navbar__btn"><a href="#">Our Coaches</a></li>
        <li class="navbar__btn"><a href="#">Our Memberships</a></li>
        <li class="navbar__btn"><a href="#">Newsletter</a></li>
        <li><Button text="Join our program" href="#"/></li>
        <HamMenuButton />
    </ul>
</div>


</nav>

<style>
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
        margin-inline: auto;
        padding-inline: 4rem;
        max-width: 1440px;
    }

    .navbar__buttons {
        display: flex;
        align-items: center;
        gap: 2.75rem;
    }

    @media (max-width: 834px) {
        .navbar {
            padding-inline: 2rem;
        }
    }

    @media (max-width: 430px) {
        .navbar {
            padding-inline: 1rem;
        }
    } 

    @media (max-width: 1320px) {
        .navbar__btn {
            display: none;
        }
    }

    @media (max-width: 695px) {
        .navbar__buttons :global(.btn) {
            display: none;
        }
    }
</style>
