---
---
<div class="section-divider"></div>

<style>
    .section-divider {
        width: 100dvw;
        height: 3px;
        background: var(--secondary-color);
        opacity: 50%;
    }
</style>