---
---
<div class="top-info">
    <p class="top-info__text">Madrid, Spain</p>
    <p class="top-info__text">+34 000 000 000</p>
</div>

<style>
    .top-info {
        margin: auto;
        max-width: 1440px;
        padding: .5rem 4rem;
        display: flex;
        justify-content: space-between;
    }

    .top-info__text {
        font-size: 1rem;
        font-weight: 300;
    }

    @media (max-width: 834px) {
        .top-info {
            padding-inline: 2rem;
        }
    }

    @media (max-width: 430px) {
        .top-info {
            padding-inline: 1rem;
        }
    } 
</style>
